* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar-top {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-top .search-wrapper .search-btn i {
    color: #5c3d2e;
    font-size: 20px;
}

.navbar-top .logo h2 {
    font-family: monospace;
    font-weight: bold;
    color: black;
    margin-left: 0;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(to right, #8b4513, rgb(226, 194, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.navbar-top .search-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin: 0 20px;
}

.navbar-top .icons {
    display: flex;
    align-items: center;
}

.navbar-top .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-top .search-wrapper input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 30px 0 0 30px;
    outline: none;
    transition: border-color 0.3s ease;
}

.navbar-top .search-wrapper input:focus,
.navbar-top .search-wrapper input:hover {
    border-color: rgba(139, 69, 19, 0.8);
    box-shadow: none;
}

.navbar-top .search-wrapper .search-btn {
    padding: 14px 18px;
    border: 1px solid #ddd;
    background-color: rgba(238, 224, 208, 1);
    color: white;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-top .search-wrapper .search-btn:hover,
.navbar-top .search-wrapper .search-btn:focus {
    background-color: rgba(139, 69, 19, 0.2);
    outline: none;
}

.navbar-top .search-wrapper .search-btn:active {
    box-shadow: 0 0 0 0.2rem rgba(139, 69, 19, 0.5);
    transform: scale(1);
}

.navbar-top .search-wrapper .search-btn:focus:not(:active) {
    box-shadow: 0 0 0 0.2rem rgba(139, 69, 19, 0.5);
}

.navbar-top .icons a {
    font-size: 24px;
    color: rgba(238, 224, 208, 1);
    margin-left: 15px;
    transition: color 0.3s;
}

.navbar-top .icons a img {
    margin-left: 10px;
    cursor: pointer;
}

.navbar-top .icons a:hover img {
    border-bottom: 4px solid rgba(238, 224, 208, 1);
    padding-bottom: 5px;
}

.navbar {
    padding: 15px 0;
    background-color: rgba(238, 224, 208, 1) !important;
    margin-bottom: 15px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    font-weight: 600;
    color: #5c3d2e;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #8b6b61;
}

.services-info {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #5c3d2e;
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.service-item {
    flex: 1;
    text-align: center;
    margin: 0 15px;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.service-icon {
    font-size: 48px;    color: #8b6b61;
    margin-bottom: 20px;
}

.service-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;    color: #5c3d2e;
}

.service-description {
    color: #777;
    line-height: 1.6;
}

.service-description p {
    margin-bottom: 15px;
}

.footer {
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

.title {
    color: white;
    font-weight: bold;
}

.footer p,
.footer a {
    color: white;
    text-decoration: none;
}

.footer .icons i {
    color: rgba(238, 224, 208, 1);
    font-size: 30px;
    cursor: pointer;
}

.footer .icons i:hover {
    color: white;
}
#subscribeButton {
    background-color: #8b6b61;
border-color: #8b6b61;
}
#subscribeButton:hover {
    background-color: #5c3d2e; 
    border-color: #5c3d2e;
}
.search-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px; 
}

#searchResults {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.search-result {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.search-result-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.search-result-details {
    flex: 1;
}